
body {
background: black;
color: white;
font-family: Arial;
text-align: center;
}

.logo {
color: red;
text-shadow: 0 0 20px red;
}

.card {
background: rgba(20,20,20,0.9);
border: 1px solid red;
box-shadow: 0 0 20px red;
border-radius: 15px;
padding: 20px;
margin: 20px;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 10px;
border-bottom: 1px solid red;
}

th {
color: red;
}
