
body {
background: black;
color: white;
font-family: Arial;
text-align: center;
}

header {
padding: 20px;
}

.box {
background: rgba(20,20,20,0.8);
border: 1px solid red;
box-shadow: 0 0 15px red;
border-radius: 15px;
margin: 20px;
padding: 20px;
}

a {
color: red;
text-decoration: none;
}

button {
background: red;
color: white;
border: none;
padding: 10px 20px;
border-radius: 8px;
}
