
body {
background: black;
color: white;
font-family: Arial;
text-align: center;
}

.logo {
color: red;
text-shadow: 0 0 20px red;
}

.card {
background: rgba(20,20,20,0.9);
border: 1px solid red;
box-shadow: 0 0 20px red;
border-radius: 15px;
padding: 20px;
margin: 20px;
}

button {
background: red;
color: white;
border: none;
padding: 10px 20px;
border-radius: 8px;
cursor: pointer;
}
